<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /monBlog/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /monBlog/wordpress/index.php [L]
</IfModule>

